name: Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'
      - run: chmod +x ./gradlew
      - run: ./gradlew build
      - uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/